
/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face
{
    font-family: "Noto Serif";
    font-weight: 200;
    src: url('../fonts/NotoSerif-Regular.ttf')
}

@font-face
{
    font-family: "Noto Serif";
    font-weight: 600;
    src: url('../fonts/NotoSerif-Bold.ttf')
}


:root {
    --main-color: #2A324B;
    --secondary-color: #FFFCF7;
    --third-color: #BF0603;
    --main-color-dark: #262B3B;

    /* Shadows */
    --shadow-color: #20223a15;
    --inset-shadow: inset 0 1px 1px var(--shadow-color);
    --focus-shadow-color: #3385FF30;
    --focus-shadow: 0 0 0 3px var(--focus-shadow-color);

}


html {
    font-family: "Noto Serif", Helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}
h4{
    font-size: 100px;
    line-height: 100px;
    margin: 0 0 24px;
}

.player1{
    color: var(--main-color);
    
}
.player2{
    color: var(--third-color);
}

body {
    background-color: var(--main-color);
  }

  .c-grid {
    display: grid;
    background-color: var(--main-color);
    padding-bottom: 2em;
    opacity: 1;
    width: 95%;
    row-gap: 0.3em;
    border-radius: 25px;
    z-index: 0;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
}
.c-button {
    font-size: 16px;
    font-weight: 700;    
    background-color: var(--main-color);
    color: #fff;
    padding: 11px 16px;
    line-height: 24px;
    width:23vw;
    outline: none;
    border-radius: 100px;
    margin-bottom: 1em;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
  
/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color: var(--third-color);
    color: white;
}

.c-button__little {
    font-size: 12px;
    font-weight: 700;    
    background-color: var(--main-color);
    color: #fff;
    padding: 4px 6px;
    line-height: 12px;
    width:22vw;
    outline: none;
    border-radius: 100px;
    margin-bottom: 1em;
}
.active {
    background-color: var(--third-color);
    color: white;
  }

.c-button__red {
    font-size: 16px;
    font-weight: 700;   
    background-color: var(--third-color);
    color: #fff;
    padding: 11px 16px;
    line-height: 24px;
    width:70vw;
    outline: none;
    border-radius: 100px;
    border: none;
}


.c-button:active {
    background-color: var(--main-color-dark);
    box-shadow: none;
}

.c-square-red{
    color: var(--secondary-color);
    background-color: var(--third-color);
    padding: 3% 14%;
    border-radius: 25px;
}

.c-square-blue{
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 3% 14%;
    border-radius: 25px;
}



/* Dropdown Button */
.dropbtn {
    background-color: var(--main-color);
    color: white;
   width: 70vw;
    padding: 11px 48px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--main-color-dark);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--main-color-dark);}


  input[type=text] {
    border: none;
    border-bottom: 2px dotted var(--secondary-color);
    width: 80%;
  }

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    padding-top: 72px;
    padding-bottom: 72px;
}

.c-logo{
    max-width: 100%;
    max-height: 100%;
}

@media (min-width:992px) {
    .c-logo{
        max-width: 50%;
        max-height: 50%;
    }
}

.c-title{

    margin-left: 1em;
    margin-right: 1em;
}

.align-base{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.align-arrow{
    position:absolute;                  
    top:2em;                          
    left:2em;     
}

.align-items{
    position:absolute;                  
    top:15%;               
}

.align-button{
    position:absolute;                  
    bottom: 1em; 
    right: 6%;
    left: 6%;
    margin-left: auto;
    margin-right: auto;
}

.align-content-center{
    display: flex;
    justify-content: center;
}

.align-top-screen{
    margin-top: 5em;
}


.container {
    display: grid;
    height: 96vh;
    grid-template-rows: auto;
    justify-items: center;
    background: var(--main-color);
    grid-gap: 1.5em;
    margin-top: 1em;
  }
.container-for-3{
    display: grid;
    height: 85vh;
    grid-template-rows: auto;
    justify-items: center;
    background: var(--main-color);
    grid-gap: 1.5em;
    margin-top: 1em;
}


.item {
    width:90%;
    height: 100%;
    border-radius: 25px;
    background: var(--secondary-color);
    text-align: center;
    padding: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  /* vanaf 700 px niet meer breder gaan */

 

.c-rank__uneven {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1 !important;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 25px;
    font-size: 16px;
    padding: 4px 24px;
    row-gap: 16px;
    width: 60vw;
    align-content: center;
}
.c-rank__even {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1 !important;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 25px;
    font-size: 16px;
    padding: 4px 24px;
    row-gap: 16px;
    width: 60vw;
    align-content: center;
}


.c-card {
    background-color: var(--third-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 2em;
    width: 70vw;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
    overflow: hidden;
}

.c-card-dark {
    background-color: var(--main-color);
    margin-left:1em;
    margin-right: 1em;
    border-radius: 25px;
    margin-bottom: 2em;
    width: 70vw;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
    overflow: hidden;
}
 
.c-label {
    margin-bottom: 0;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-color);
}


.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70vw;
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    padding: 11px 16px 4px 16px;
    outline: none;
    border-color: var(--secondary-color);
}


.c-input-dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70vw;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    padding: 11px 16px 4px 16px;
    outline: none;
    border-color: var(--secondary-color);
}


.c-button {
    font-size: 16px;
    font-weight: 700;    
    background-color: var(--main-color);
    color: #fff;
    padding: 11px 16px;
    line-height: 24px;
    width: 70vw;
    outline: none;
    border: none;
    border-radius: 100px;
}

.c-button-white {
    font-size: 16px;
    font-weight: 700;    
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 11px 16px;
    line-height: 24px;
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 100px;
    margin-bottom: 1em;
}

.c-troffee{
    margin-top: 20%;
}



tbody {
    display: block;
    height: 50vh;
    overflow: auto;
    margin-top: 1em;
}

.small-table-body{
    height: 25vh;
    margin-bottom: 3em;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 80vw;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


.o-section {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
}

.o-section+.o-section {
    margin-top: 0px;
}

.o-row {
position: relative;
padding: 0px 0px 0;
display: flex;
flex-direction: column;
}

/* color modifiers */
.o-row--primary-x-light {
color: #fff;
}

.o-row--neutral-xx-dark {
color: #fff;
background: #FFFFFF;
}

/* intro needs a larger z-index to pull the image over the next row */
.o-row--intro {
z-index: 10;
;
}

/* size modifiers */
.o-row--lg {
padding-top: 48px;
padding-bottom: 24px;
}

.o-row--intro {
padding-top: 0px;
padding-bottom: 0px;
}

.o-row--xl {
padding-top: 16px;
padding-bottom: 16px;
}


@media (min-width:700px) { 
    .item {
        width:600px;
        height: 100%;
        border-radius: 25px;
        background: var(--secondary-color);
        text-align: center;
        padding: auto;
        padding: auto;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-rank__uneven {
        display: flex;
        flex-direction: column;
        grid-gap: 1em;
        
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 1 !important;
        background-color: var(--main-color);
        color: var(--secondary-color);
        border-radius: 25px;
        font-size: 16px;
        padding: 4px 24px;
        row-gap: 16px;
        width: 400px;
        align-content: center;
    }
    .c-rank__even {
        width: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 1 !important;
        background-color: var(--third-color);
        color: var(--secondary-color);
        border-radius: 25px;
        font-size: 16px;
        padding: 4px 24px;
        row-gap: 16px;
        align-content: center;
        
    }
    .c-button {
        font-size: 16px;
        font-weight: 700;    
        background-color: var(--main-color);
        color: #fff;
        padding: 11px 16px;
        line-height: 24px;
        width:400px;
        outline: none;
        border-radius: 100px;
    
    }
    .c-button__red {
        font-size: 16px;
        font-weight: 700;   
        background-color: var(--third-color);
        color: #fff;
        padding: 11px 16px;
        line-height: 24px;
        width:400px;
        outline: none;
        border-radius: 100px;
        border: none;
    }
    .dropbtn {
        background-color: var(--main-color);
        color: white;
       width: 400px;
        padding: 11px 48px;
        font-size: 16px;
        border: none;
        border-radius: 25px;
      }
    .c-card {
        background-color: var(--third-color);
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        margin-bottom: 2em;
        width: 400px;
        box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
        overflow: hidden;
    }
    .c-card-dark {
        background-color: var(--main-color);
        margin-left:1em;
        margin-right: 1em;
        border-radius: 25px;
        margin-bottom: 2em;
        width: 400px;
        box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
        overflow: hidden;
    }
    .c-button-white {
        font-size: 16px;
        font-weight: 700;    
        background-color: var(--secondary-color);
        color: var(--main-color);
        padding: 11px 16px;
        line-height: 48px;
        width: 600px;
        outline: none;
        border: none;
        border-radius: 100px;
        margin-bottom: 1em;
    }
    .c-button__little {
        font-size: 12px;
        font-weight: 700;    
        background-color: var(--main-color);
        color: #fff;
        padding: 11px 16px;
        line-height: 12px;
        width:133px;
        outline: none;
        border-radius: 100px;
        margin-bottom: 2em;
    }
    
}
